<h2>Planets</h2>

<ul>
    <% @planets.each do |planet| %>

        <li>
            <%= link_to planet.name, planet %>
        </li>

    <% end %>
</ul>

<%= link_to 'New planet', new_planet_path %>
